.title {
    font-size: 16px;
    font-weight: bolder ;
    margin-top: 25px;
    margin-bottom: 20px;
}
.title h3{
    font-size: 25px;
    font-weight: bold;
}
.up-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.expand p{
    font-weight: bold;
    font-size: 18px;
    color: #8710D8;
    cursor: pointer;
}