.summary{
    height: 55px;
    background-color: #F5F5F5;
    padding:10px 20px ; 
    list-style: none;
    border: 0.5px solid #D1D7DC ;
    display: flex;
    justify-content: space-between;
}
.summary .name p{
    font-size: 3 0px;
}
.details{
    background-color: #F7F9FA;
    background-color: white;
    border: 00.5px solid #D1D7DC;
    border-top-style: none;
}
 
.cnt{
    display: flex;
    align-items: center;
}
.left  p{
    font-size: 18px;
    font-weight: bold;
}
.left .icon {
    margin-right: 12px;
}

.left .icon p{
    font-size: 14px;
}
.details{
    padding: 10px 20px;
}