.courseGoal {
  margin-top: 30px;
  padding: 15px 20px;
  border: 1px solid  #D1D7DC;
}
.what-you-will-learn{
  margin-bottom: 15px;
}
.what-you-will-learn p {
   
  font-size: 27px;
  font-weight: bold;
}
.list {
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto ;
  row-gap: 10px;
  column-gap: 10px;
}
@media (max-width: 600px) {
  .list {
    display: grid;
    grid-template-columns: auto ;
    row-gap: 10px;
  }
}
